
.vs/ParallelFFT/v17/.suo
.vs/ParallelFFT/v17/Browse.VC.db
.vs/ParallelFFT/v17/Browse.VC.db-shm
.vs/ParallelFFT/v17/Browse.VC.db-wal
.vs/ParallelFFT/v17/Browse.VC.opendb
.vs/ParallelFFT/v17/ipch/AutoPCH/1f014581abec640c/FFT.ipch
.vs/ParallelFFT/v17/ipch/AutoPCH/ec9db73c709a7503/MAIN.ipch
.vs/ParallelFFT/v17/ipch/AutoPCH/fb58cf91aaf27091/MAIN.ipch
x64/Debug/FFT.obj
x64/Debug/Main.obj
x64/Debug/ParallelFFT.exe.recipe
x64/Debug/ParallelFFT.ilk
x64/Debug/ParallelFFT.log
x64/Debug/ParallelFFT.tlog/CL.command.1.tlog
x64/Debug/ParallelFFT.tlog/Cl.items.tlog
x64/Debug/ParallelFFT.tlog/CL.read.1.tlog
x64/Debug/ParallelFFT.tlog/CL.write.1.tlog
x64/Debug/ParallelFFT.tlog/link.command.1.tlog
x64/Debug/ParallelFFT.tlog/link.read.1.tlog
x64/Debug/ParallelFFT.tlog/link.write.1.tlog
x64/Debug/ParallelFFT.tlog/ParallelFFT.lastbuildstate
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
x64/Release/FFT.obj
x64/Release/Main.obj
x64/Release/ParallelFFT.exe
x64/Release/ParallelFFT.exe.recipe
x64/Release/ParallelFFT.iobj
x64/Release/ParallelFFT.ipdb
x64/Release/ParallelFFT.log
x64/Release/ParallelFFT.pdb
x64/Release/ParallelFFT.tlog/CL.command.1.tlog
x64/Release/ParallelFFT.tlog/Cl.items.tlog
x64/Release/ParallelFFT.tlog/CL.read.1.tlog
x64/Release/ParallelFFT.tlog/CL.write.1.tlog
x64/Release/ParallelFFT.tlog/link.command.1.tlog
x64/Release/ParallelFFT.tlog/link.read.1.tlog
x64/Release/ParallelFFT.tlog/link.write.1.tlog
x64/Release/ParallelFFT.tlog/link.write.2u.tlog
x64/Release/ParallelFFT.tlog/ParallelFFT.lastbuildstate
x64/Release/ParallelFFT.vcxproj.FileListAbsolute.txt
x64/Release/vc143.pdb
.vs/ParallelFFT/FileContentIndex/17ae5fa2-6413-4923-a99f-38c862728450.vsidx
.vs/ParallelFFT/v17/ipch/AutoPCH/c872d563bcae2878/TMP5926.TMP.ipch
.vs/ParallelFFT/v17/ipch/AutoPCH/b1e0af76ea20022f/TMPB672.TMP.ipch
.vs/ParallelFFT/v17/ipch/AutoPCH/499557f60c92dd08/FFT.ipch
.vs/ParallelFFT/v17/ipch/AutoPCH/1b54f4e0391a9c40/TMPA4FC.TMP.ipch
.vs/ParallelFFT/FileContentIndex/a3e5424c-0240-474c-ab1b-5005e620dc37.vsidx
.vs/ParallelFFT/FileContentIndex/88f864ca-9465-436c-a992-fb0f7d62657e.vsidx
.vs/ParallelFFT/FileContentIndex/76980185-28dd-48dd-b268-54d8927cb4a7.vsidx
.vs/ParallelFFT/FileContentIndex/3bf796a1-cfe4-4b23-88c4-0fd30ddaf444.vsidx
.vs/ParallelFFT/FileContentIndex/05f20f96-731d-420b-9256-e465e16731ba.vsidx
.vs/ParallelFFT/FileContentIndex/622eca81-bde7-486c-9cf0-3f62cfb2714b.vsidx
*.vsidx
*.ipch
x64/Debug/ParallelFFT.vcxproj.FileListAbsolute.txt
x64/Debug/ParallelFFT.pdb
x64/Debug/OMP_FFT.obj
